<a href="https://colab.research.google.com/github/jonnie763/DATA-690-Data-Structures-and-Algorithms/blob/main/hw_13_rius_jonathan.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##1. Create a DataFrame named 'neighbor_crime'.
Do this by reading the baltimore_part1_crime.csv file into the Pandas dataframe.

Refer to the Pandas API.

NOTE: The results in the cells below will be different. Since you are working with different data set, don't worry if what you get are different.

In [24]:
import pandas as pd
import numpy as np

In [25]:
neighbor_crime = pd.read_csv("baltimore_part1_crime.csv") # Read csv using this code, print df
neighbor_crime

       CrimeCode               Location  ...            Neighborhood   CrimeDate
0             7A      6400 ROSEMONT AVE  ...           ROSEMONT EAST  2021/04/24
1             4E   4700 REISTERSTOWN RD  ...            LUCILLE PARK  2021/04/24
2             4E      3900 PENHURST AVE  ...                DOLFIELD  2021/04/24
3             4E      1900 WALBROOK AVE  ...               MONDAWMIN  2021/04/24
4             4E           2200 KOKO LN  ...  PANWAY/BRADDISH AVENUE  2021/04/24
...          ...                    ...  ...                     ...         ...
334187        2A  4400 OLD FREDERICK RD  ...                 UPLANDS  1975/06/01
334188        2A    4000 SPRINGDALE AVE  ...     CENTRAL FOREST PARK  1973/07/01
334189        2A    2400 ST STEPHENS CT  ...               MONDAWMIN  1970/06/15
334190        2A        5400 ROLAND AVE  ...             ROLAND PARK  1969/07/20
334191        2A      3100 FERNDALE AVE  ...             HOWARD PARK  1963/10/30

[334192 rows x 7 columns]

In [26]:
neighbor_crime.head()

  CrimeCode              Location  ...            Neighborhood   CrimeDate
0        7A     6400 ROSEMONT AVE  ...           ROSEMONT EAST  2021/04/24
1        4E  4700 REISTERSTOWN RD  ...            LUCILLE PARK  2021/04/24
2        4E     3900 PENHURST AVE  ...                DOLFIELD  2021/04/24
3        4E     1900 WALBROOK AVE  ...               MONDAWMIN  2021/04/24
4        4E          2200 KOKO LN  ...  PANWAY/BRADDISH AVENUE  2021/04/24

[5 rows x 7 columns]

In [27]:
neighbor_crime.shape # Dimensions

(334192, 7)

### 2. Do the manual pivoting of the data by
  1. Grouping the data by 'Description and District'
  2. Selecting 'Neighborhood'
  3. Aggregating the data using count
  4. `unstack()` the table

In [28]:
neighbor_crime.groupby('Description')[['District']].count() # 1st step of groupby

                      District
Description
AGG. ASSAULT             38047
ARSON                     1400
AUTO THEFT               29239
BURGLARY                 46682
COMMON ASSAULT           56835
HOMICIDE                  2298
LARCENY                  74081
LARCENY FROM AUTO        42893
RAPE                      2295
ROBBERY - CARJACKING      3097
ROBBERY - COMMERCIAL      5817
ROBBERY - RESIDENCE       3554
ROBBERY - STREET         22894
SHOOTING                  4715

In [29]:
neighbor_crime.groupby(['Description','District'])[['Neighborhood']].aggregate('count').unstack() # 2nd step

                     Neighborhood                    ...
District                  CENTRAL EASTERN NORTHEAST  ... SOUTHERN SOUTHWEST WESTERN
Description                                          ...
AGG. ASSAULT                 3875    4324      5215  ...     4414      4769    4341
ARSON                          80     144       255  ...      186       201     124
AUTO THEFT                   1982    2138      5418  ...     3228      3657    2933
BURGLARY                     3557    3574      7901  ...     5683      5250    3402
COMMON ASSAULT               6958    6202      8089  ...     6034      6825    5400
HOMICIDE                      135     327       283  ...      231       333     367
LARCENY                     10427    5532      9920  ...     8523      6917    4834
LARCENY FROM AUTO            6076    3233      6199  ...     4463      3140    1983
RAPE                          275     237       306  ...      278       254     210
ROBBERY - CARJACKING          278     181       421  ...      352       379     335
ROBBERY - COMMERCIAL          803     430       896  ...      618       528     306
ROBBERY - RESIDENCE           249     313       674  ...      471       418     318
ROBBERY - STREET             3324    1869      3402  ...     2417      1758    1584
SHOOTING                      350     718       507  ...      522       670     775

[14 rows x 9 columns]

### 3. Using Pandas `pivot_table()` method, produce the same outcome as above (using manual groupby)

In [30]:
neighbor_crime.pivot_table(index='Description', columns='District', # More efficient code with same output
                    aggfunc={'Neighborhood':'count'})

                     Neighborhood                    ...
District                  CENTRAL EASTERN NORTHEAST  ... SOUTHERN SOUTHWEST WESTERN
Description                                          ...
AGG. ASSAULT                 3875    4324      5215  ...     4414      4769    4341
ARSON                          80     144       255  ...      186       201     124
AUTO THEFT                   1982    2138      5418  ...     3228      3657    2933
BURGLARY                     3557    3574      7901  ...     5683      5250    3402
COMMON ASSAULT               6958    6202      8089  ...     6034      6825    5400
HOMICIDE                      135     327       283  ...      231       333     367
LARCENY                     10427    5532      9920  ...     8523      6917    4834
LARCENY FROM AUTO            6076    3233      6199  ...     4463      3140    1983
RAPE                          275     237       306  ...      278       254     210
ROBBERY - CARJACKING          278     181       421  ...      352       379     335
ROBBERY - COMMERCIAL          803     430       896  ...      618       528     306
ROBBERY - RESIDENCE           249     313       674  ...      471       418     318
ROBBERY - STREET             3324    1869      3402  ...     2417      1758    1584
SHOOTING                      350     718       507  ...      522       670     775

[14 rows x 9 columns]

### 4. Using 'CrimeDate' column, create a DatetimeIndex
Hint: 
- You will use one of the methods described in 'Pandas Time Series Data Structures' section. 
- You will have to specify the values of the `Series` as the input. See: https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Series.values.html

In [31]:
neighbor_crime['CrimeDate'] = pd.to_datetime(neighbor_crime['CrimeDate']) # Change to datetime, use only crimedate column 

neighbor_crime.set_index(['CrimeDate'], inplace=True)                

neighbor_crime.index                                                       # Index correctly

DatetimeIndex(['2021-04-24', '2021-04-24', '2021-04-24', '2021-04-24',
               '2021-04-24', '2021-04-24', '2021-04-24', '2021-04-24',
               '2021-04-24', '2021-04-24',
               ...
               '1979-01-01', '1978-01-01', '1978-01-01', '1978-01-01',
               '1977-05-01', '1975-06-01', '1973-07-01', '1970-06-15',
               '1969-07-20', '1963-10-30'],
              dtype='datetime64[ns]', name='CrimeDate', length=334192, freq=None)